@using WebApplication1
@using WebApplication1.Models
@using Microsoft.Extensions.Options

@model Department
@inject IOptions<WebApplication1Options> options
<tr>
    @*如果人数大约配置中设置的人数，部门名称加粗*@
    @if (Model.EmployeeCount > options.Value.BoldDepartmentEmployeeCountThreshold)
    {
        <td><strong>@Model.Name</strong></td>
    }
    else
    {
        <td>@Model.Name</td>
    }

    <td>@Model.Location</td>
    <td>@Model.EmployeeCount</td>
    <td>
        @*asp-route-departmentId是asp-route-[参数名]；为Index页面传递参数*@
        <a asp-action="Index" asp-controller="Employee" asp-route-departmentId="@Model.Id">
            Employess
        </a>
    </td>
</tr>